.b1 {
  align-items: center;
  background-color:green;
  color:black;
  font-size: large;
  width: 70px;
  height: 40px;

}
.b2 {
  
    background-color: yellow;
    color:black;
    font-size: large;
    width: 70px;
    height: 40px;
  }
  .b3 {
  
    background-color:red;
    color:black;
    font-size: large;
    width: 70px;
    height: 40px;
  }
  
